$--base-font:12px;

$--base-bg:#f7f8f9;
$--color-aLink:#5a97e9 !default;//a link

$--color-base: #545454 !default;
$--color-base-light:#858585;

$--color-primary:#409EFF !default;
$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;


